input {
    width: 80%;
    height: 1em;
    resize: vertical;
    overflow: auto;
    float: left;
    background-color: black;
    color: green;
    border: none;
}

body {
    background-color: black;
    color: green;
}